<app-header></app-header>
<div class="examcycle">
    <div class="container">
        <div class="body-header flex justify-between items-center mb-4 ">
            <h2 style="font-weight: 500">Edit</h2>
            <div class="button-group ">
                <button class="btn-1">Cancel</button>
                <button class="btn-2">Save</button>
            </div>
        </div>

        <div class="body">
            <form [formGroup]="createExamCycle" class="examcycleform " (ngSubmit)="onSubmit()">
                <div class="flex flex-column">
                    <div class="flex flex-row  " style="gap: 1.5rem">
                        <div class="flex flex-column ">
                            <h4 style="font-weight:400;margin-bottom:1rem;margin-top:2rem">Exam cycle</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem" >
                                <mat-label>Exam cycle</mat-label>
                                <mat-select formControlName="examcycle">
                                    <mat-option value="one">First option</mat-option>
                                    <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-column">
                            <h4 style="font-weight:400;margin-bottom:1rem;margin-top:2rem">Course name</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <mat-label>Course name</mat-label>
                                <mat-select formControlName="coursename">
                                    <mat-option value="one">First option</mat-option>
                                    <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-row  " style="gap: 1.5rem">
                        <div class="flex flex-column ">
                            <h4 style="font-weight:400;margin-bottom:1rem;margin-top:2rem">Start date</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="startdate" [min]="pickerMinDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-column">
                            <h4 style="font-weight:400;margin-bottom:1rem;margin-top:2rem">End date</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="enddate"[min]="pickerMinDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-row  " style="gap: 1.5rem">
                        <div class="flex flex-column ">
                            <h4 style="font-weight:400;margin-bottom:1rem;margin-top:2rem">Exam name</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <mat-label>Exam name</mat-label>
                                <input matInput placeholder="Exam name" formControlName="examname">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-column">
                            <h4 style="font-weight:400;margin-bottom:1rem;margin-top:2rem">Exam date</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker3" formControlName="examdate" [min]="pickerMinDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-column ">
                            <h4 style="font-weight:400;margin-bottom:1rem;margin-top:2rem">Start time</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <mat-label>hh:mm</mat-label>
                                <input class="custom-timepicker"style="border:none;"matTimepicker #t="matTimepicker"  [strict]="false" id="timepicker-example" mode="12h" formControlName="starttime">
                                <mat-icon matSuffix (click)="t.showDialog()">access_time</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-column ">
                            <h4 style="font-weight:400;margin-bottom:1rem;margin-top:2rem">End time</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <mat-label>hh:mm</mat-label>
                                <input class="custom-timepicker"style="border:none;"matTimepicker #t1="matTimepicker"  [strict]="false" id="timepicker-example" mode="12h" formControlName="endtime" (mouseleave)="endTimeValidator()">
                                <mat-icon matSuffix (click)="t1.showDialog()" (mouseleave)="endTimeValidator()">access_time</mat-icon>
                            </mat-form-field>
                            <div class="sb-color-red pt-0" style="color:red"  tabindex="0" *ngIf="createExamCycle.controls['endtime'].touched && createExamCycle.controls['endtime'].errors">Enter a valid End time</div>

                        </div>
                    </div>
                    <div class="flex flex-row  " style="gap: 1.5rem">
                        <div class="flex flex-column">
                            <button  class="btn-3 btn-primary" type="submit"style="margin-top:1rem" (click)="addExamCycle()">Add Exam</button>
                        </div>
                    </div>
                    <div class="flex flex-row  " style="gap: 1.5rem">
                        <div class="flex flex-column">
                            <mat-chip-grid #chipGrid aria-label="Exam" style="margin-top: 20px;">
                                <mat-chip-row  *ngFor="let exam of exams" style="height: 9rem;width: 16rem;border: thin solid rgb(185, 181, 181);border-radius: 4px;background-color:#fff;"
                                    (removed)="remove(exam)">
                                    <h4>{{exam.examname}}</h4>
                                    <p style="font-size: 14px;">Exam date: {{ exam.examdate | date:'dd-MM-yyyy' }}</p>
                                    <div style="border-color:grey;background-color:#F0F3F4;height:1.5rem;border-bottom-left-radius: 8px;border-top-left-radius: 8px;border: 0.5px solid rgb(161, 159, 159);width: 12rem;">
                                        <div class="time">Exam time: {{getFormattedTime(exam.starttime ) }} - {{getFormattedTime(exam.endtime)}}</div>
                                    </div>
                                    <button matChipRemove [attr.aria-label]="'remove ' + exam.name" style="padding-bottom: 102px;">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-chip-row>
                            </mat-chip-grid>
                        </div>
                    </div>
                    
                    
                    
                    <!-- <div class="flex flex-row">
                        <mat-chip-grid #chipGrid aria-label="Exam" style="margin: 20px;">
                            <mat-chip-row  *ngFor="let exam of exams" style="height: 9rem;width: 16rem;border: thin solid rgb(185, 181, 181);border-radius: 4px;background-color:#fff;"
                                (removed)="remove(exam)">
                                <h4>{{exam.examname}}</h4>
                                <p style="font-size: 14px;">Exam date: {{ exam.examdate | date:'dd-MM-yyyy' }}</p>
                                <div style="border-color:grey;background-color:#F0F3F4;height:1.5rem;border-bottom-left-radius: 8px;border-top-left-radius: 8px;border: 0.5px solid rgb(161, 159, 159);width: 12rem;">
                                    <div class="time">Exam time: {{getFormattedTime(exam.starttime ) }} - {{getFormattedTime(exam.endtime)}}</div>
                                </div>
                                <button matChipRemove [attr.aria-label]="'remove ' + exam.name" style="padding-bottom: 102px;">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-chip-row>
                        </mat-chip-grid>
                    </div> -->
                   
                </div>
            </form>
        </div>
    </div>
</div>