.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
img{
    margin-left: 12rem;
    width: 17rem;
}
button{
    
    margin-left: 72rem;
    background-color: forestgreen;
    border-radius: 8px;
    border: none;
    color: white;

}